/*******************************************************************************
Template(s): Rocket League Responsive Table
Author(s): QuadratClown
*******************************************************************************/
.rl-responsive-table {
	border-collapse: collapse;
	margin: 0;
	width: calc( 100% - 347px );
	table-layout: fixed;

	caption {
		text-align: center;
	}

	tbody {
		outline: 1px solid var( --table-border-color, #a9a9a9 );
	}

	tr {
		background: var( --table-background-color, #f5f5f5 );
		padding: 0.35em;

		&:first-child {
			background: var( --table-header-variant-background-color, #e0e0e0 );
		}

		&:last-child td {
			border-bottom: 0;
		}
	}

	th,
	td {
		padding: 0.625em;
		text-align: center;
		border-bottom: 1px solid var( --table-border-color, #d3d3d3 );
		border-left: 1px solid var( --table-border-color, #a9a9a9 );
		text-overflow: ellipsis;
		overflow: hidden;
	}

	th {
		text-align: center;
		font-weight: bold;
		border-bottom: 1px solid var( --table-border-color, #a9a9a9 );

		&:first-child {
			border-left: 0;
		}
	}

	td:first-child {
		border-left: 0;
	}

	&-left-align {
		text-align: left !important;
	}

	@media screen and ( max-width: 600px ) {
		width: 100%;
	}

	@media screen and ( max-width: 947px ) {
		tbody {
			outline: 0;
		}

		tr {
			border: 1px #000000;
			display: block;
			margin-bottom: 1em;
			outline: 1px solid var( --table-border-color, #a9a9a9 );

			&:first-child {
				display: none;
			}

			&:last-child td {
				border-bottom: 1px solid var( --table-border-color, #d3d3d3 );

				&:last-child {
					border-bottom: 0;
				}
			}
		}

		th {
			display: none;
		}

		td {
			border-bottom: 1px solid var( --table-border-color, #d3d3d3 );
			display: block;
			font-size: 0.8em;
			text-align: right;
			border-left: 0;

			&::before {
				content: attr( data-label );
				float: left;
				font-weight: bold;
			}

			&:last-child {
				border-bottom: 0;
			}
		}

		&-left-align {
			text-align: right !important;
		}
	}
}

.rl-responsive-table-sortable {
	border-collapse: collapse;
	margin: 0;
	width: calc( 100% - 347px );
	table-layout: fixed;

	tbody {
		outline: 1px solid #a9a9a9;
	}

	th,
	td {
		padding: 5px 10px 5px 10px;
		text-align: center;
		border-bottom: 1px solid #d3d3d3;
		border-left: 1px solid #a9a9a9;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	thead tr {
		outline: 1px solid #a9a9a9;
		border-bottom: 0;
	}

	th {
		text-align: center;
		font-weight: bold;

		&:first-child {
			border-left: 0;
		}
	}

	td:first-child {
		border-left: 0;
	}

	&-left-align {
		text-align: left !important;
	}

	@media screen and ( max-width: 947px ) {
		width: 600px;

		tbody {
			outline: 0;
		}

		thead tr {
			overflow: hidden;
			background: none;
			outline: 0;
			box-shadow: none;
			float: right;
			padding: 1px;
			margin-bottom: 4px;
		}

		tr {
			border: 1px #000000;
			display: block;
			margin-bottom: 1em;
			outline: 1px solid #a9a9a9;
		}

		th {
			border: 0;
			padding: 5px 10px 5px 10px;
			margin-right: 5px;
			margin-bottom: 8px;
			outline: 1px solid #a9a9a9;
			white-space: nowrap;
			background: #e0e0e0;
			overflow: hidden;
			display: inline-block;

			&:last-child {
				margin-right: 0;
			}
		}

		td {
			border-bottom: 1px solid #d3d3d3;
			display: block;
			font-size: 0.8em;
			text-align: right;
			border-left: 0;

			&::before {
				content: attr( data-label );
				float: left;
				font-weight: bold;
			}

			&:last-child {
				border-bottom: 0;
			}
		}

		tr:last-child td {
			border-bottom: 1px solid #d3d3d3;

			&:last-child {
				border-bottom: 0;
			}
		}

		&-left-align {
			text-align: right !important;
		}
	}

	@media screen and ( max-width: 600px ) {
		width: 100%;
	}
}
