/*******************************************************************************
Template(s): Team Templates
Author(s): FO-nTTaX
*******************************************************************************/

.team-template-image {
	vertical-align: 2px;

	img {
		width: 60px;
		height: 25px;
		image-rendering: -webkit-optimize-contrast;

		.tabs & {
			width: 40px;
			height: 17px;
		}
	}
}

.team-template-image-icon {
	width: 60px;
	height: 25px;
	display: inline-block;
	text-align: center;
	vertical-align: 2px;

	.tabs & {
		width: auto;
		height: 17px;
	}

	img {
		max-width: 50px;
		max-height: 25px;
		width: auto;
		height: auto;

		.tabs & {
			max-width: 40px;
			max-height: 17px;
			width: auto;
			height: auto;
			margin-right: 9px;
		}
	}

	i {
		font-size: 25px;
		vertical-align: middle;
		color: var( --clr-secondary-70 );
	}
}

.team-template-image-legacy {
	vertical-align: 2px;

	img {
		width: 60px;
		height: 25px;

		.tabs & {
			width: 40px;
			height: 17px;
		}
	}
}

.team-template-team-part {
	float: right;
}

.bind-highlighting {
	display: none;
}

/* Improved match1 display by iMarbot */
span.team-template-team-bracket {
	white-space: nowrap;
	display: inline-block;
	height: var( --team-template-bracket-height, 21px );
}

.team-template-team-bracket {
	.team-template-image-icon,
	.team-template-image-legacy {
		vertical-align: 0;
		height: var( --team-template-bracket-height, 21px );
		width: calc( var( --team-template-bracket-height, 21px ) * 2.4 );
	}

	.team-template-image-icon img {
		max-width: 90%;
		max-height: 100%;
	}

	.team-template-image-legacy img {
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
	}

	> .team-template-text {
		vertical-align: middle;
	}
}

/* fix for timeline by FO-nTTaX */
.timeline .team-template-team-standard {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.team-template-image-big img {
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
}

/*******************************************************************************
Template(s): Dark Reader support
Author(s): iMarbot, Darkrai
*******************************************************************************/

.team-template-image-icon.darkmode,
.team-template-image-icon.team-template-darkmode,
.team-template-image-legacy.team-template-darkmode {
	display: none;
}

[ data-darkreader-scheme="dark" ],
.theme--dark {
	.team-template-image-icon.lightmode,
	.team-template-image-icon.team-template-lightmode,
	.team-template-image-legacy.team-template-lightmode {
		display: none;
	}

	span.team-template-image-icon.darkmode,
	span.team-template-image-icon.team-template-darkmode,
	span.team-template-image-legacy.team-template-darkmode {
		display: inline-block !important;
	}
}

/*******************************************************************************
Template(s): Group Table Hybrid
Author(s): iMarbot
*******************************************************************************/
.grouptableslot .team-template-text {
	@media ( max-width: 399px ) {
		&.mobile-hide {
			display: none !important;
		}

		&.mobile-only {
			display: unset !important;
		}
	}

	@media ( min-width: 400px ) {
		&.mobile-hide {
			display: unset !important;
		}

		&.mobile-only {
			display: none !important;
		}
	}
}
