/*******************************************************************************
Template(s): Team Cards
Author(s): ???
*******************************************************************************/
.teamcard {
	position: relative;
	width: 200px;

	> center {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	table.list,
	table.logo {
		height: 121px;
		margin-top: 0;
		width: 200px;
	}

	table.list,
	&.teamcard-opened table.list.former,
	&.teamcard-opened table.list.subs {
		opacity: 0 !important;
		position: absolute;
		z-index: 2;
		table-layout: fixed;
	}

	@media ( min-width: 601px ) {
		table.list:hover,
		table.list.active:hover,
		&.teamcard-opened table.list,
		&.teamcard-opened.teamcard-former-opened table.list.former,
		&.teamcard-opened.teamcard-subs-opened table.list.subs,
		&.teamcard-former-opened:hover table.list.former,
		&.teamcard-subs-opened:hover table.list.subs {
			opacity: 1 !important;
			background-color: var( --clr-surface-3, rgba( 249, 249, 249, 0.95 ) ) !important;
		}

		&.teamcard-former-opened table.list.active,
		&.teamcard-former-opened table.list.subs,
		&.teamcard-subs-opened table.list.active,
		&.teamcard-subs-opened table.list.former {
			display: none !important;
			opacity: 0 !important;
		}
	}

	table.logo td {
		padding: 0;
	}

	table.list {
		td,
		th {
			padding: 2px;
		}

		th {
			width: 20px;
		}

		td {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	.teamcard-placement {
		padding: 0 !important;

		table.teamcard-placement-table {
			width: 100%;
			text-align: center;
			height: 29px;
		}
	}

	.teamcard-qualifier {
		text-align: center;
		font-weight: bold;
		height: 25px;
	}

	.teamcard-preview {
		text-align: center;
	}

	@media ( max-width: 600px ) {
		&:not( .teamcard-nomobile ) {
			position: relative;
			width: 100%;

			table.logo {
				width: 100%;

				img:not( [ src$=".svg" ] ) {
					width: auto;
					height: auto;
					max-width: 90%;
					max-height: 90%;
				}

				div.center {
					width: 40% !important;
				}
			}

			.teamcard-inner {
				position: relative;
			}

			table.list {
				opacity: 1 !important;
				table-layout: fixed;
				position: absolute;
				top: 0;
				width: 60% !important;
				left: 40%;
			}

			.league-icon-small-image img {
				max-width: 25px !important;
				max-height: 25px !important;
			}
		}

		&:not( .teamcard-former-opened ) table.list.former,
		&:not( .teamcard-subs-opened ) table.list.subs,
		&.teamcard-former-opened table.list.active,
		&.teamcard-former-opened table.list.subs,
		&.teamcard-subs-opened table.list.active,
		&.teamcard-subs-opened table.list.former {
			display: none !important;
		}
	}
}

.teamcard-toggle-button {
	display: flow-root;

	@media ( max-width: 600px ) {
		display: none !important;
	}

	button {
		margin: 0 0 10px 10px;
		width: fit-content;
		float: right;
	}

	&-left button {
		margin: 0 10px 10px 0;
		float: left;
	}
}

.teamcard-former-toggle-button button,
.teamcard-subs-toggle-button button,
.teamcard-active-toggle-button button {
	padding: 0 !important;
	width: 157px;
	height: 25px;
	margin-left: 25px;
	transform: rotate( 90deg );
	transform-origin: top left;
	border-radius: unset !important;
	min-height: unset !important;
}

.teamcard-former-toggle-button button {
	.wiki-apexlegends & {
		width: 121px;
	}

	.wiki-teamfortress & {
		width: 181px;
	}
}

.teamcard {
	& .team-template-image-icon img {
		width: auto;
		height: auto;
		max-width: 40px;
		max-height: 20px;
		vertical-align: baseline;
	}

	& .team-template-image-legacy img {
		width: 48px;
		height: 20px;
		margin-left: -5px;
		margin-right: -5px;
		vertical-align: baseline;
	}

	& .team-template-team-part,
	& span.team-template-image-icon,
	& span.team-template-image-legacy, {
		width: 40px;
		height: 20px;
	}
}

.teamcard-button-separator {
	border-right: 1px solid var( --table-border-color, #bbbbbb ) !important;
}

/*******************************************************************************
Template(s): Responsive TeamCard columns
Author(s): iMarbot
*******************************************************************************/
.teamcard-columns,
.teamcard-columns-3,
.teamcard-columns-4,
.teamcard-columns-5 {
	width: 100%;
}

@media ( min-width: 700px ) {
	.teamcard-columns-3 {
		width: 700px;
	}
}

@media ( min-width: 950px ) {
	.teamcard-columns,
	.teamcard-columns-4 {
		width: 950px;
	}
}

@media ( min-width: 1540px ) {
	.teamcard-columns-5 {
		width: 1170px;
	}
}

@media ( min-width: 2100px ) {
	.teamcard-columns-3 {
		width: 1400px;
	}
}

@media ( min-width: 2600px ) {
	.teamcard-columns,
	.teamcard-columns-4 {
		width: 1900px;
	}
}

@media ( min-width: 3000px ) {
	.teamcard-columns-5 {
		width: 2330px;
	}
}

@media ( min-width: 2800px ) {
	.teamcard-columns-3 {
		width: 2100px;
	}
}

/*******************************************************************************
Template(s): TeamCard faded TBD logo
Author(s): iMarbot
*******************************************************************************/
.teamlogo-tbd img {
	opacity: 0.5;
}

/*******************************************************************************
Template(s): TeamCard Dark Reader support
Author(s): iMarbot
*******************************************************************************/
[ data-darkreader-scheme="dark" ],
.theme--dark {
	.teamcard span.logo-lightmode {
		display: none !important;
	}

	.teamcard span.logo-darkmode {
		display: unset !important;
	}
}

/*******************************************************************************
Template: Automated SC/SC2 TeamList/TeamCard
Author: warnull
*******************************************************************************/

/**
* RtsTeamList/ListDisplay
*/

.rts-team-list-section {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin: 12px 0;

	&-header {
		font-weight: bold;
		width: 100%;
	}
}

.rts-team-list-card {
	border: 1px solid var( --clr-border, #bbbbbb );

	@media ( max-width: 435px ) {
		width: 100% !important;
	}

	&-header {
		padding: 4px 8px;

		> .rts-team-list-team-title {
			font-weight: bold;
		}
	}
}

.rts-team-list-team-title {
	margin: 0 -4px;
}

.rts-team-list-team-subtitle {
	font-style: italic;
	margin-top: 4px;
}

.rts-team-list-entries-header {
	background-color: var( --clr-surface-2, #eaecf0 );
	border-top: 1px solid var( --clr-border, #bbbbbb );
	padding: 5px;

	&-text {
		font-weight: bold;
	}
}

.rts-team-list-tbd-entry {
	border-top: 1px solid var( --clr-border, #bbbbbb );
	font-style: italic;
	padding: 5px;
	text-align: center;
}

.rts-team-list-entry {
	border-top: 1px solid var( --clr-border, #bbbbbb );
	display: flex;
	justify-content: space-between;
	padding: 5px;

	> .block-team,
	> .block-player,
	> .block-literal {
		flex: 1 1 auto;
		min-width: 0;
	}

	&:nth-of-type( 2n ) {
		background: var( --clr-surface-2, #f5f5f5 );
	}

	.collapsed > & {
		display: none;
	}

	&-right {
		display: flex;
	}

	&-tags {
		margin-left: 2px;
	}
}

.rts-team-list-icon-tag {
	margin-right: 2px;
}

.rts-team-list-symbol-tag {
	font-size: 1.4em;
	line-height: 1em;
	margin-right: 2px;
}

.rts-team-list-text-tag {
	font-size: 0.6em;
	margin-right: 2px;
	text-transform: uppercase;
}

/**
* RtsTeamList/TableDisplay
*/

.rts-team-table-wrapper {
	margin: -2px;
	padding: 2px;
}

.rts-team-table {
	border-bottom: 1px solid var( --clr-border, #bbbbbb );
	border-left: 1px solid var( --clr-border, #bbbbbb );
	border-right: 1px solid var( --clr-border, #bbbbbb );
	display: inline-grid;

	&-section {
		display: contents;
	}
}

.rts-team-table-header-row {
	background-color: #d0d0d0;
	display: contents;

	> .opponent-list-cell {
		font-weight: bold;
		text-align: center;
	}

	&-players {
		grid-column: entry 1 / -1;
		min-width: 100px;
	}
}

.rts-team-table-team-row {
	display: contents;

	&:nth-of-type( 2n+1 ) {
		background: var( --clr-surface-2, #f5f5f5 );
	}
}

.rts-team-table-team-cell {
	border-right: 1px solid var( --clr-border, #bbbbbb );
	display: block;
	min-width: 140px;
	padding: 4px 8px;
}

.rts-team-table-tbd-entry {
	font-style: italic;
	grid-column: entry 1 / -1;
	min-width: 100px;
	text-align: center;
}

.rts-team-table-player {
	justify-content: space-between;
	min-width: 100px;

	.rts-team-list-adhoc & {
		min-width: 160px;
	}
}

/*******************************************************************************
Template(s): TeamCard inotes class
Author(s): iMarbot
*******************************************************************************/
.inotes-box {
	box-shadow: 3px 3px 5px 0 rgba( 0, 0, 0, 0.5 );
	max-width: calc( 100% - 20px );
	margin-top: -5px;
	margin-left: 0 !important;
	position: absolute;
	z-index: 17;

	.template-box & {
		background-color: var( --clr-background, #f8f9fa );
		border-color: var( --table-border-color, #a2a9b1 );
	}
}

.inotes-inner {
	dl {
		margin-bottom: 0;
	}

	dd {
		margin-left: 0;
	}
}

/*******************************************************************************
Template(s): TeamCard inotes class
Author(s): iMarbot via ???
*******************************************************************************/
.teamcard-bg-dnp {
	background-color: rgba( 229, 229, 229, 0.5 );
}

.teamcard-bg-leave {
	background-color: rgba( 249, 199, 199, 0.5 );
}
